name: Deploy  PMA Client NextJS application

on:
    push:
        branches:
            - deploy-with-docker-ec2

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Source
              uses: actions/checkout@v4
            - name: Create .env file
              env:
                  DATABASE_URL: ${{ secrets.DATABASE_URL }}
                  PMA_BACKEND_API_URL: ${{ secrets.PMA_BACKEND_API_URL }}
                  REVALIDATE_TOKEN: ${{ secrets.REVALIDATE_TOKEN }}
                  GOOGLE_CLIENT_SECRET: ${{ secrets.GOOGLE_CLIENT_SECRET }}
                  GOOGLE_CLIENT_ID: ${{ secrets.GOOGLE_CLIENT_ID }}
                  BETTER_AUTH_URL: ${{ secrets.BETTER_AUTH_URL }}
                  BETTER_AUTH_SECRET: ${{ secrets.BETTER_AUTH_SECRET }}
              run: |
                  env | grep -E '^(DATABASE_URL|PMA_BACKEND_API_URL|REVALIDATE_TOKEN|GOOGLE_CLIENT_SECRET|GOOGLE_CLIENT_ID|BETTER_AUTH_URL|BETTER_AUTH_SECRET)=' > .env
            - name: Build docker image
              run: docker build -t rahulshah10/pma_client_next_app_2026 .
            - name: Login to docker hub
              run: docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
            - name: Publish image to docker hub
              run: docker push rahulshah10/pma_client_next_app_2026:latest

    deploy:
        needs: build
        runs-on: self-hosted
        steps:
            - name: Pull image from docker hub
              run: docker pull rahulshah10/pma_client_next_app_2026:latest
            - name: Delete old container
              run: docker rm -f pma_client_next_app_2026-container
            - name: Run docker container
              run: docker run -d -p 3000:3000 --name pma_client_next_app_2026-container rahulshah10/pma_client_next_app_2026
